.btn-normal {
    @apply px-10 py-2 text-xl font-semibold text-orange-500 transition-colors bg-orange-100 border-2 border-transparent cursor-pointer rounded-2xl hover:border-orange-500 hover:shadow-sm;
}

.btn-normal-dark {
    @apply btn-normal;
    @apply bg-blue-200 text-blue-500 hover:border-blue-500
}

.btn-normal-red {
    @apply btn-normal;
    @apply bg-red-200 text-red-500 hover:border-red-500
}

.btn-intense {
    @apply btn-normal ;
    @apply text-gray-800 bg-orange-100 border-orange-300 hover:bg-orange-200 hover:border-orange-300;
}

.inputs {
    @apply p-3 outline-none ring-1 ring-gray-200 ring-inset focus:ring-2 focus:ring-inset focus:ring-orange-300 transition rounded-2xl
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


* ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

* ::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
}

* ::-webkit-scrollbar-thumb:hover {
    background: #fdba74;
}